body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: black;
  color: white;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 20px;
}
.navbar {
  position: sticky;
  top: 0;
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  width: 100%;
  z-index: 1000;
}
.logo-container {
  display: flex;
  align-items: center; 
}
.logo {
  width: 80px; 
  margin-left: 20px;
}
.blog-post {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #000000;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header {
  color: orange;
  text-align: center;
  padding: 20px;
}
.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.blog-post {
  margin-bottom: 30px;
  min-height: 500px;
  min-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.blog-post h2 {
  color: #000000;
}
.post-date {
  color: #777;
  font-size: 0.9em;
  margin-top: 5px;
}

footer p {
  text-align: center;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.content-wrapper {
  float: left;
  width: 60%; 
}
.float-right {
  float: right;
  max-width: 40%;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}