body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: black;
  color: white;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 20px;
}
.navbar {
  position: sticky;
  top: 0;
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  width: 100%;
  z-index: 1000;
}
.logo-container {
  display: flex;
  align-items: center; 
}
.logo {
  width: 80px; 
  margin-left: 20px;
}
.container {
  max-width: 1500px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2,h3,h1{
  color: orange;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}
.gallery img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.gym-description {
  font-size: 14px; 
}
.about-section {
  text-align: center;
}
.about-section h1 {
  font-size: 24px;
  color: orange;
}
.about-section p {
  font-size: 16px;
  line-height: 1.5;
}
.about-section img {
  margin: 10px; 
  border: 2px solid #ddd; 
  border-radius: 20px;
  width: 400px;
}
.gym-info {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  max-width: 60%;
}
.gymset-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 900px;
}

.gymset-section h1 {
  font-size: 28px;
  color: orange;
  text-align: center;
}

.gymset-section p {
  font-size: 16px;
  text-align: left;
  margin-bottom: 15px;
}
